<div id="demo">
  
  
    <img  style="width: 132px;" src="http://www.farmaciasgi-iguala-sistema.com.mx/archivo/gi.png"/>
 
    <p>COMPROBANTE DE VENTA</p>
    <p style="margin-top:-15px;">FARMACIAS GI</p>
    <p style="margin-top:-15px;">'PRUEBA CON LOGO'</p>
    <p style="margin-top:-15px;">Iguala de la Independencia</p>
       <p style="margin-top:-15px;">Folio:   00000</p>
    <p style="margin-top:-15px;">Le atendio:  YO MERO </p>
    <p style="margin-top:-15px;">Fecha:  HOY </p>
    <p style="margin-top:-15px;">Cliente:  EL VECINO SIN</p>
  
  <table border = "1">

    <tr>
      <td>Row 1, Column 1</td>
      <td>Row 1, Column 2</td>
    </tr>

    <tr>
      <td>Row 2, Column 1</td>
      <td>Row 2, Column 2</td>
    </tr>
  </table>
<br>
<br>
  <p style="margin-top:-15px;">¡Gracias por su compra!</p>
    <p style="margin-top:-15px;">Las devoluciones se realizan unicamente</p>
    <p style="margin-top:-15px;">por otro producto, no se hace reembolso</p>
    <p style="margin-top:-15px;">del dinero, el periodo de la devolucion</p>
    <p style="margin-top:-15px;">es de 7 dias naturales</p>
<p style="margin-top:-15px;">¡Conserve su ticket!</p>
</div><br>
<button printSectionId="demo" ngxPrint>print</button>
